.article {
  @media only screen and (max-width: 766px) {
    flex-direction: column;
  }
}

.image {
  position: relative;
  border-radius: 20px;
  box-shadow: 0 5px 1rem rgba(0, 0, 0, 20%);
  min-width: 50%;
  max-width: 20rem;
  margin: 0 auto 1rem auto;
  overflow: hidden;

  @media only screen and (max-width: 22em) {
    max-width: 15rem;
  }
}

.name {
  font-size: 2rem;
}

.link {
  &:link,
  &:visited {
    text-decoration: none;
    color: var(--bs-body-color);
  }

  &:hover,
  &:active {
    color: var(--color-primary);
  }
}

.section {
  margin-bottom: 1.5rem;
}

.featuredIn {
  margin-left: 3vw;

  @media only screen and (max-width: 766px) {
    margin-left: 0;
  }
}

.link-container {
  margin-bottom: 2rem;
}

.status__name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.icon {
  display: inline-block;
  margin: 0 0.5rem;
  margin-bottom: -5px;

  &.icon--Dead {
    color: #d42a34;
  }

  &.icon--Alive {
    color: #11b811;
  }

  &.icon--Male {
    color: #6ca0dc;
  }

  &.icon--Female {
    color: #da70d6;
  }

  &.icon--Genderless {
    color: var(--bs-body-color);
  }

  &.icon--location {
    color: #d42a34;
  }

  &.icon--unknown {
    color: var(--bs-body-color);
  }
}
