@use "../../SCSS/mixins";

.name {
  color: var(--color-primary);

  @include mixins.respond(mixins.$tablet) {
    display: block;
  }
}

.row {
  @include mixins.respond(mixins.$phone) {
    padding: 0 3rem;
  }
}
