@use "../../SCSS/mixins";

.name {
  color: var(--color-primary);
  @include mixins.respond(mixins.$tablet) {
    display: block;
  }
}

.date {
  @include mixins.respond(mixins.$tablet) {
    display: block;
  }
}
