.pagination {
  gap: 1.5rem;
  @media only screen and (max-width: 48em) {
    gap: 1rem;
  }
}

.btn {
  --bs-btn-disabled-bg: var(--color-primary-light);
  --bs-btn-disabled-border-color: var(--color-primary-light);
  --bs-btn-bg: var(--color-primary);
  --bs-btn-border-color: var(--color-primary);
  --bs-btn-hover-bg: var(--color-primary-light);
  --bs-btn-hover-border-color: var(--color-primary-light);
  --bs-btn-active-bg: var(--color-primary-dark);
  --bs-btn-active-border-color: var(--color-primary-dark);
  --bs-btn-focus-shadow-rgb: 163, 195, 34;
  padding: 0 !important;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2rem;
  height: 2rem;
  border-radius: 50%;

  @media only screen and (max-width: 48em) {
    display: none;
  }

  & .fullSize {
    padding: 0 !important;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 2.5rem;
    color: var(--bg-color-primary) !important;
    line-height: 0.5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:first-of-type .fullSize {
    transform: translate(-55%, -50%);
  }

  &:last-of-type .fullSize {
    transform: translate(-45%, -50%);
  }
}

.page-link {
  --bs-pagination-active-bg: var(--color-primary-dark);
  --bs-pagination-active-border-color: var(--color-primary-dark);
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(191, 222, 66, 0.25);
  --bs-pagination-hover-color: var(--color-primary-dark);
  --bs-pagination-color: var(--color-primary-dark);
  --bs-pagination-hover-bg: rgba(203, 228, 103, 0.25);
  --bs-pagination-focus-bg: rgba(203, 228, 103, 0.25);
  --bs-pagination-focus-color: var(--color-primary-dark);
  --bs-pagination-border-color: var(--color-primary-dark);
  --bs-pagination-hover-border-color: var(--color-primary-dark);
  background-color: var(--bg-color-primary);

  width: 2.5rem;
  display: flex;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: -1px;

  @media only screen and (max-width: 48em) {
    font-size: 1.3rem;
    height: 2.7rem;
    width: 2.7rem;
  }
}

.break {
  align-self: flex-end;
  color: var(--color-primary);
}
