.footer {
  text-align: center;
  padding: 2rem;
  background-color: var(--bg-color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  & svg {
    fill: var(--bs-body-color);
    width: 2rem;
    height: 2rem;
    transform: translateY(1px);
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: var(--bs-body-color);
      font-weight: 500;
    }
    &:hover,
    &:active {
      color: var(--color-primary);
    }
  }
}
