.card {
  border: 2px solid #666;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--bg-color-primary);
  transition: all 0.3s;

  &:hover {
    & .image {
      filter: grayscale(100%);
      transform: translateY(-10%);
    }

    & .content {
      transform: translateY(-2.5rem);
      background-color: inherit;
      transition: all 0.5s ease, background-color 0s;
    }
  }
}

.content {
  padding: 10px;
  position: relative;
  transition: all 0.5s ease, background-color 1s;
}

.badge {
  top: 10px;
  right: 20px;
  font-size: 17px;
}

.image {
  transition: all 0.5s ease-out;
}

.Alive {
  background-color: #006400;
}

.Dead {
  background-color: #d42a34;
}

.unknown {
  background-color: #444;
}

.hidden-button {
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  text-align: end;
  font-size: 1.5rem;
  color: #fff;
  background-color: #bfde42;
  width: 100%;
  padding-right: 1rem;

  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  transform: translateY(2.5rem);
}
