.image {
  position: relative;
  border-radius: 20px;
  box-shadow: 0 5px 1rem rgba(0, 0, 0, 20%);
  margin-bottom: 1rem;
  overflow: hidden;
}

.name {
  color: var(--color-primary);
}

.link {
  &:link,
  &:visited {
    text-decoration: none;
    color: var(--bs-body-color);
  }

  &:hover,
  &:active {
    color: var(--color-primary);
  }
}
