.nav-link {
  &.active {
    color: var(--color-primary) !important;
    font-weight: bold;
    border-bottom: 3px solid var(--color-primary) !important;
    padding-bottom: 5px;

    &:last-of-type {
      margin-bottom: 1rem;
    }
  }

  @media screen and (max-width: 62.5em) {
    margin: 0 1rem;
  }
}
