@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

:root {
  --color-primary: #bfde42;
  --color-primary-light: #cbe467;
  --color-primary-dark: #a3c322;
  --bg-color-primary: #fff;
  --border-color-primary: #333;
  --bs-body-color: #333 !important;
  --bs-body-color-secondary: #fff !important;
  --bs-primary-rgb: 191, 222, 66 !important;
}

:root.darkMode {
  --bs-primary-rgb: 191, 222, 66 !important;
  --bg-color-primary: #333;
  --bs-body-color: #fff !important;
  --bs-body-color-secondary: #333 !important;
}

/* Fix of global darkMode */
:root.darkMode .accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

:root.darkMode .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23bfde42'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23bfde42'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

:root.darkMode .navbar {
  box-shadow: 0px 15px 10px -15px rgba(132, 113, 113, 0.17);
}

:root.darkMode .hero {
  filter: invert(0);
}

:root.darkMode .hero > * {
  filter: invert(0);
}

:root.darkMode .hero .btn--card {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
}
/*  */

html {
  background-color: var(--bg-color-primary);
}

body {
  margin: 0;
  background-color: var(--bg-color-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-color: var(--bg-color-primary);
}
.ubuntu {
  font-family: "Ubuntu", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li:first-of-type a[role="button"],
li:last-of-type a[role="button"] {
  color: #fff;
  text-decoration: none;
}

::selection {
  background-color: #bfde42;
  color: #fff;
}
